<div class="avatar">
  <% size ||= 1.5 %>
  <% img_variant ||= :thumb %>
  <div class="rounded-full ring-1 ring-primary ring-offset-base-100 ring-offset-2" style="width:<%= size %>rem">
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar.variant(img_variant).processed %>
    <% else %>
      <div class="flex items-center justify-center bg-blue-500 rounded-full text-white font-semibold text-md">
        <%= avatar_text(user.username) %>
      </div>
    <% end %>
  </div>
</div>