<div id="<%= dom_id tag %>">
  <span class="badge p-4 text-base rounded-lg font-semibold" style="background-color: <%= tag.bg_color %>; color: <%= tag.color %>"><%= tag.label.capitalize %></span>
</div>